    {% extends 'base.html' %}

    {% block main %}
    <div id="main">
      <!-- main-section -->
      <div class="section">
        <div class="container">
          <div class="row justify-content-center">
            <!-- section-title -->
            <div class="col-12 text-center">
              <h2 class="section-title">Find your new best friend</h2>
            </div>
            <!-- grid-item-1 -->
            <div class="col-lg-4 col-sm-6 mb-4 grid-box">
              <a class="grid-content" href="/search-profiles">
                <div class="image">
                  <img src="../static/img/smile.jpg" alt="smile-dog-image" class="img-fluid w-100 d-block">
                    <div class="inner-textbox-content">
                      <h3 class="mb-3 mt-0">Search Profiles</h3>
                      <p class="mb-0">Search animals by type, breed, disposition and date created</p>
                    </div>
                </div>
              </a>
            </div>
            <!-- grid-item-2 -->
            <div class="col-lg-4 col-sm-6 mb-4 grid-box">
              <a class="grid-content" href="/browse-profiles">
                <div class="image">
                  <img src="../static/img/hug.jpg" alt="dog-hug-image" class="img-fluid w-100 d-block">
                    <div class="inner-textbox-content">
                      <h3 class="mb-3 mt-0">Browse Profiles</h3>
                      <p class="mb-0">Browse all listed animal profiles with pictures to find your pet</p>
                    </div>
                </div>
              </a>
            </div>
            <!-- grid-item-3 -->
            <div class="col-lg-4 col-sm-6 mb-4 grid-box">
              <a class="grid-content" href="/daily-news">
                <div class="image">
                  <img src="../static/img/cat.jpg" alt="cat-image" class="img-fluid w-100 d-block">
                    <div class="inner-textbox-content">
                      <h3 class="mb-3 mt-0">Daily News</h3>
                      <p class="mb-0">What's up? Daily news feeds for our lovely rescued animals</p>
                    </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- /main-section -->

      <!-- admin-section -->
      <div class="admin-section">
        <div class="container">
          <button class="btn btn-admin"><a href="/create-profiles">CREATE PROFILES</a></button>
          <button class="btn btn-admin"><a href="/manage-profiles">MANAGE PROFILES</a></button>
        </div>
      </div>
      <!-- /admin-section -->

      <!-- news-section -->
      <div class="section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 text-center">
              <h2 class="section-title">News</h2>
            </div>
            <ul class="list-group">
              {% for story in stories %}
                <li class="list-group-item hstack">
                  <div class="col-3">
                    <img src="../static/img/profile/{{ story['profile_image'] }}" class="img-fluid"/>
                  </div>
                  <div class="col">
                    <div class="p-5 vstack">
                      <h5>{{ story['news_date'] }}</h5>
                      <p>{{ story['news_description'] }}</p>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <!-- /news-section -->
    </div>
    {%  endblock %}
