    {% extends 'base.html' %}

    {% block main %}
    <div id="main">
    <!-- main options -->
      <div id="main-row">
        <div id="column-user">
        <!-- search shelter animals -->
        <a href="/search-profiles" class="search-profiles">
          <h2>Search Profiles</h2>
        <img src="../static/img/smile.jpg" width="300px" height="300px"></a></div>
        <div id="column-user">
        <!-- manage profiles: only for admin -->
        <a href="/browse-profiles" class="browse-profiles">
          <h2>Browse Profiles</h2>
        <img src="../static/img/cat.jpg" width="300px" height="300px"></a></div>
      </div>
    </div>

        <!-- page footer placeholder-->
    <div class="footer">
      <!-- switch between admin and user (temporary)-->
      <div class="switch">
        <button class="switch-button-current"><a href="/index">Admin View</a></button>
        <button class="switch-button"><a href="/index-user">User View</a></button>
      </div>
      <span id="temp-span">(These are temp buttons)</span>
    </div>
    {%  endblock %}
