<!DOCTYPE html>
<html>
  <head>
    <title>Dating App for Animal Adoption</title>
    <link rel="stylesheet" href="../static/css/main.css" />
  </head>
  <body>
    <!-- navbar placeholder-->
    <div id="navbar">
    </div>

    <!-- page header placeholder-->
    <div id="header">
    </div>

    <div id="main">
    <!-- main options -->
      <div id="main-row">
        <div id="column-user">
        <!-- search shelter animals -->
        <a href="search.html" class="search-profiles">
          <h2>Search Profiles</h2>
        <img src="../static/img/smile.jpg" width="300px" height="300px"></a></div>
        <div id="column-user">
        <!-- manage profiles: only for admin -->
        <a href="browse.html" class="browse-profiles">
          <h2>Browse Profiles</h2>
        <img src="../static/img/cat.jpg" width="300px" height="300px"></a></div>
      </div>
    </div>

    <!-- page footer placeholder-->
    <div class="footer">
      <!-- switch between admin and user (temporary)-->
      <div class="switch">
        <button class="switch-button"><a href="index.html">Admin View</a></button>
        <button class="switch-button-current"><a href="index-user.html">User View</a></button>
      </div>
      <span id="temp-span">(These are temp buttons)</span>
      </div>

    <!-- javascript -->
    <script src="../static/nav.js"></script>
    <script src="../static/header.js"></script>
  </body>

</html>
