    {% extends 'base.html' %}

    {% block main %}
    <div class="container">
      <div class="row justify-content-center">
        <div>
          <div class="card-profiles">
            <h3 class="card-title text-center">MANAGE PROFILES</h3>
            <div class="card-body py-md-4">
              <!-- testing -->
              <!-- Table -->
              <div id="container">
                <table class="tables" id="profile-table">
                  <thead>
                    <tr>
                      <th>Profile ID</th>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Breed</th>
                      <th>Disposition</th>
                      <th>Availability</th>
                      <th>Description</th>
                      <th>Image</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in items %}
                    <tr>
                      <td>{{ item['profile_id'] }}</td>
                      <td>{{ item['profile_name'] }}</td>
                      <td>{{ item['profile_type'] }}</td>
                      <td>{{ item['profile_breed'] }}</td>
                      <td>{{ item['GROUP_CONCAT(Dispositions.disposition_value)'] }}</td>
                      <td>{{ item['profile_availability'] }}</td>
                      <td>{{ item['profile_description'] }}</td>
                      <td><img src="../static/img/profile/{{ item['profile_image'] }}" class="img-fluid w-100 d-block"></td>
                      <td><button class="btn-profiles"><a href="#">EDIT</a></button></td>
                      <td><button class="btn-profiles"><a href="#">DELETE</a></button></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%  endblock %}
